.App {
  text-align: center;
  
}

.features{
    color: rgb(255, 255, 255);
}

a{
  color:white
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
