:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --map-dark-grey: rgba(27, 27, 29, 1);
  --map-light-grey: rgba(52, 51, 50, 1);
  --coord-bar-grey: rgba(53, 51, 50, 1);

  --all-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 600px;
}

.map-container-topbar {
  background-color: var(--coord-bar-grey);
  color: #fff;
  padding: 6px 12px;
  font-family: var(--all-fonts);
  z-index: 1;
  top: 0;
  left: 0;
  margin: 12px;
}
